# Preserve Linux-compatible scripts even when cloned on Windows.
* text=auto
*.py text eol=lf
*.bashrc text eol=lf
*.md text eol=lf
*.txt text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
